.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 15px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 250px;
  height: 450px;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 150px;
}
